@charset "utf-8";
/* CSS Document */
body
{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	margin: 0 auto;
}
.container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll; 
    scroll-behavior: smooth;
	margin: 0 auto;
}
nav
{
	width: 10%;
	height: 100%;
	position: fixed;
	margin-top: 15%;
	animation: nav1 2s;
}
@keyframes nav1
{
	0%
	{
		top: 900px;
		opacity: 0;
	}
	100%
	{
		top: 0px;
		opacity: 1;
	}
}
nav ul
{
	list-style: none;
}
nav ul li
{
	margin-top: 20px;
	padding-top: 20px;
}
nav ul li a
{
	text-decoration: none;
	margin-left: 70px;
	opacity: 0.5;
}
nav ul li a:hover
{
	opacity: 1;
}
.menu
{
	width: 10%;
	height: 100%;
	position: fixed;
	margin-top: 40%;
	animation: menuf 2s;
}
@keyframes menuf
{
	0%
	{
		top: 900px;
		opacity: 0;
	}
	100%
	{
		top: 0px;
		opacity: 1;
	}
}
.menu ul
{
	list-style: none;
	margin-left: 70px;
}
.menu ul li
{
	margin-top: 70px;
	padding-top: 30px;
	float: left;
	margin-right: 10px;
}
.menu1
{
	width: 100%;
	height: 80px;
	position: fixed;
}
.logo
{
	width: 150px;
	height: 150px;
	float: left;
	background-color:#F1782F;
	margin: -50px 0px 10px 100px;
	border-radius: 100%;
	position: absolute;
	animation: logo 2s;
}
@keyframes logo
{
	0%
	{
		top: 900px;
		opacity: 0;
	}
	100%
	{
		top: 0px;
		opacity: 1;
	}
}
.logofash
{
	margin: 90px 0px 0px 45px;
}
.menu01
{
	width: 15%;
	height: 80px;
	margin-top:40px;
	margin-left: 85%;
	position: absolute;
	animation: menu01 2s;
}
@keyframes menu01
{
	0%
	{
		top: 900px;
		opacity: 0;
	}
	100%
	{
		top: 0px;
		opacity: 1;
	}
}
.menu01 ul
{
	list-style: none;
	margin-top: 10px;
	
}
.menu01 ul li
{
	float: left;
	margin-right: 20px;
}
.menu01 ul li a
{
	text-decoration: none;
	color: black;
}
.content1
{
	width: 150px;
	height: 150px;
	float: left;
	background-color:#93BEBB;
	border-radius: 100%;
	margin-left: 85%;
	margin-top: 45%;
	position: fixed;
	animation: content1 2s;
}
@keyframes content1
{
	0%
	{
		bottom: 900px;
		opacity: 0;
	}
	100%
	{
		bottom: -70px;
		opacity: 1;
	}
}
.content-scroll
{
	margin: 30px 0px 0px 35px;
}
section
{
	width: 100%;
	height: 850px;
	z-index: -5
}
.content2
{
	width: 650px;
	height: 650px;
	float: left;
	background-color:#F4AA13;
	border-radius: 100%;
	margin-top: 5%;
	margin-left: 25%;
	z-index: -4;
	position: absolute;
	animation-name: thaydoi;
	animation-duration: 4s;
}
@keyframes thaydoi
{
	0% {background-color: #E6696B; opacity: 0}
	25% {background-color:#4EC4B3}
	50% {background-color:#915CD9}
	75% {background-color:antiquewhite}
	100% {background-color: #F4AA13}
}
.content2a
{
	right: -100px;
	top:-50px;
	z-index: -2;
	
}
.conten4
{
	margin: -620px 0px 0px 400px;
	animation: content4 4s;
	z-index: 0;
}
@keyframes content4
{
	0%
	{
		left: 900px;
		opacity: 0;
	}
	100%
	{
		left: 0px;
		opacity: 1;
	}
}
.conten5
{
	margin: 0px 0px 0px 650px;
	animation: content5 3s;
	z-index: 1;
}
@keyframes content5
{
	0%
	{
		right: 1500px;
		opacity: 0;
	}
	100%
	{
		right: 400px;
		opacity: 1;
	}
}








